version: '3.4'

services:
  cleanarchitecture.blogmanagement.webapi:
    image: ${DOCKER_REGISTRY-}web-api
    container_name: blog-api
    build:
      context: .
      dockerfile: src/CleanArchitecture.BlogManagement.WebApi/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__BlogDbContext: "Server=blog-db;database=BlogManagement;User Id=sa;Password=Pass@word;Encrypt=false"
    ports:
    - 8081:8081
    - 8080:8080
    depends_on:
    - blog.db
  # seq:
  #   image: datalust/seq:latest
  #   container_name: blog-seq
  #   volumes:
  #     - seqvolume:/var/opt/seq/data 
  #   environment:
  #     - ACCEPT_EULA=Y
  #   ports:
  #   - 5341:5341
  #   - 8089:80
  blog.db:
    container_name: blog-db
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Pass@word
    volumes:
      - sqlvolume:/var/opt/mssql
    ports:
      - 1434:1433
volumes:
   sqlvolume:
#   seqvolume:    
  
